@import url(https://fonts.googleapis.com/css?family=Roboto);
html, body {
    background: #E5E5E5;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    padding: 0;
    margin: 0;
    height: 100%;
}

h2 {
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #3072C4;
}

.wrapper {
    display: block;
    width: 1250px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    min-height: 100%;
    padding: 5px;
}

.content {
    padding: 45px;
    background: #FFFFFF;
    border: 1px solid #DADADA;
    padding-bottom: 85px;
}

.search-row {
    padding: 35px 0;
}

.search-elem {
    height: 42px;
    box-sizing: border-box;
    width: 285px;
}

.search-button {
    height: 42px;
    background: #518E6A;
    border: 1px solid #518E6A;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    width: 150px;
    cursor: pointer;
}

.d-table {
    font-size: 16px;
    line-height: 32px;
    width: 100%;
    display: table;
}

.d-table a:hover {
    background: #F2F2F2;
}

.d-tr {
    display: table-row;
}

.d-td {
    display: table-cell;
}

.table-hat {
    font-weight: 900;
}

.footer {
    padding: 22px 0 0 5px;
    font-size: 14px;
    width: 100%;
    color: #A1A1A1;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    background: #E5E5E5;
}

.logo-img {
    float: left;
    margin-right: 8px;
}

.footer-name {
    font-size: 16px;
    font-weight: 900;
}

.pop-up {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    position: fixed;
}

.pu-window {
    margin: 50px auto auto;
    box-sizing: border-box;
    width: 500px;
    min-height: 200px;
    background-color: white;
    padding: 25px;
}

.pu-title {
    font-size: 22px;
    line-height: 30px;
    font-weight: normal;
}

.pu-icon-cancel {
    float: right;
    margin: 10px;
}

.pu-row {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.pu-row span {
    font-size: 16px;
    line-height: 25px;
}

.pu-long-input {
    height: 38px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    width: 269px;
}

.pu-short-input {
    height: 38px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    width: 130px;
    position: relative;
    right: 139px;
}

.buttons-area {
    position: relative;
    box-sizing: border-box;
    top: -10px;
    width: 500px;
    min-height: 20px;
    background-color: #E9E9E9;
    margin: auto;
    padding: 21px;
    padding-left: 31px;
}

.pu-btn-find {
    height: 38px;
    background: #518E6A;
    border: 1px solid #518E6A;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    width: 150px;
    cursor: pointer;
}

.pu-btn-cancel {
    height: 38px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    width: 110px;
    margin-left: 10px;
    cursor: pointer;
}